.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: #eee;
  padding: 20px;
}

.button-container {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  margin-bottom: 10px;
}
